body {
    margin: 0;
    padding: 0;
    background-color: #1B2838;
}

#wrapper {
    height: 600px;
    width: 720px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background-color: #101822;
    font-family: myFirstFont;
    color: #969696;
}

@font-face {
    font-family: myFirstFont;
    src: url(titanone-regular-webfont.woff2);
}

table, th, td {
    border: 1px solid rgba(0,0,0,0.5);
    border-collapse: collapse;
}

tr:hover{
    filter: brightness(120%);
} 

tr:nth-child(odd) {
    background-color: #262f3a;
}

td {
    padding-left: 10px;
}

#requirements {
    vertical-align: middle;
    text-align: center;
}

.extension-pack {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 10px;
    width: inherit;
}

.extension-pack p {
    align-items: flex-start;
}

.extension-pack input {
    margin-left: auto;
}

h3 {
    margin-block-end: 0px;
}

h4 {
    margin-block-start: 0px;
}

h1 {
    margin-block-end: 0px;
    margin-block-start: 0px;
    color:rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    text-transform:capitalize;
    font-family: myFirstFont;
	filter: drop-shadow(10px 10px 4px rgb(0, 0, 0));
}

.last-row{
    vertical-align: top;
}

#carts-items {
    position: absolute;
}

li {
    padding-bottom: 5px;
    margin-left: 10px;
}

#total-price-area p {
    font-size: 20px;
    color: white;
}


#payment-button-area {
    position: relative;
    top: 75px;
    left: 73%;  
}

.green-button {
    height: 2rem;
    width: 6rem;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(90deg, #d2ffa6, #93ff85);
    border: 1px solid transparent;
}

.remove-button {
    height: 2rem;
    width: 12rem;
    margin-right: 30px;
    background-image: linear-gradient(90deg, #fa3320, #c70a0a);
    border: 1px solid transparent;

    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
}

.green-button:hover, .remove-button:hover {
    filter: brightness(90%);
}

.add-to-cart {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
}


.payment-method {
    display: flex;
    flex-direction: row;
}

.payment-method div:last-child {
    margin-left: auto;
}

.form {
    padding: 5px;
}

#visa{
    background-image: url("images/visa.png");
    background-color: transparent;
    background-size: cover;
    height: 40px;
    width: 50px;
    border: 0;
}

#paypal{
    background-image: url("images/paypal.png");
    background-color: transparent;
    background-size:cover;
    height: 40px;
    width: 100px;
    border: 0;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  word-wrap: break-word;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
  
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
  
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}