body {
    margin: 0;
    padding: 0;
    background-image: url("images/fallguys.png");
    background-size: cover;
}

#wrapper {
    height: 350px;
    width: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background-color: #eae9e5;
    font-family: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url(titanone-regular-webfont.woff2);
}

#visa{
    margin-left: 30px;
    background-image: url("images/visa.png");
    background-color: #eae9e5;
    background-size:cover;
    height: 100px;
    width: 100px;
    border: 0;
}

#paypal{
    margin-left: 30px;
    background-image: url("images/paypal.png");
    background-color: #eae9e5;
    background-size:cover;
    height: 100px;
    width: 200px;
    border: 0;
}

#paypal:hover{
    background-color: #e6dfc6;
}

#visa:hover{
    background-color: #e6dfc6;
}

#paypal:active{
    background-color:#e6dfc6;
}

#paypal:focus{
    background-color:#e6dfc6;
}

#visa:active{
    background-color:#e6dfc6;
}

#visa:focus{
    background-color:#e6dfc6;
}

